.erreur{

    &__contenu{
        font-size: x-large;
        color: rgb(255, 255, 255);
        padding: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }

    &__titre{
        text-align: center;
        align-content: center;
        font-family: "Smoosh Sans", sans-serif;
        color: #ffd000;
        font-size: 3.5em;
    }

    &__block{
        padding: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: bolder;
            text-align: center;
            color: #ffd000;
        }

    }
    &__menu{

        ul{
            display: flex;
            justify-content: space-around;

            li{
                background-color: #ffea00;
                padding: 10px;
                color: black;
                border-radius: 6px;
            }
        }
    }

    &__boutton {
        align-items: center;
        font-family: "Smoosh Sans", sans-serif;
        font-weight: bolder;
        font-size: large;
        background-color: #ffea00;
        color: rgb(127, 206, 255);
        border-radius: 6px;
        border: none;
        padding: 20px;
        width: 200px;
        display: flex;
        align-self: center;

    }
    &__boutton:hover{
        background-color: aquamarine;
        color: violet;
    }

    &__rechercher{
        background-color: transparent;
        border: none;
        border-bottom: 4px solid #ffea00;
        width: 200px;
        display: flex;
        align-self: center;

        font-size: 30px;

        width: 300px;
    }

    &__rechercher[type="search"]::placeholder{
        font-family: 'Courier New', Courier, monospace;
        color: #ffea00;
        font-weight: bolder;
        padding-left: 20px;
        width: 200px;
        
    }
}