.erreur{

    &__contenu{
        font-family: "Smoosh Sans", sans-serif;
        font-size: x-large;
        color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 200px;
        margin:0 auto;
    }

    &__titre{
        color: blue;
        font-size: 100px;
    }
}