/* *******************
Le composant .carte
********************** */

.carte {
    font-weight: bold;
    font-family: "Advent Pro", sans-serif;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 220px;
    justify-content: center;
    align-items: center;
    border: #cac9c9 solid 1px;
    margin: 1em;

    .post-categories{

      display: flex;
      padding: 0%;
      gap: 4rem;

      li{
        list-style: none;
        background-color: #007bff;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        a{
          color: #ffffff;
        }
        &:hover {

          background-color: #add4ff;
        }

      }

    }

  
    &--grande {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
   
    }
  
    &__image img {
      width: 300px;
      height: 200px;
      
      @media screen and (max-width:$point__rupture) {
        width: 200px;
        height: 100px;
      }
    }

    &__temp{

      display: flex;
      justify-content: center;
      gap: 2rem;

      p{
        text-align: center;
        font-size: smaller;
        padding: 10px;
        border-radius: 8px;
        border: #cac9c9 solid 1px;
      }
     
    }

  
    &__contenu {
      margin-top: 15px;
    }
  
    &__titre {
      font-size: 24px;
      color: #333;

      &:hover {
        color: #add4ff;
      }
    }
  
    &__description {
      font-size: 16px;
      color: #666;
    }
  
    &__bouton {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
}
  