/* *******************
Le composant .carte
********************** */

.carte {
    font-weight: bold;
    font-family: "Advent Pro", sans-serif;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 220px;
    justify-content: center;
    align-items: center;
    border: #cac9c9 solid 1px;
    -webkit-box-shadow: 0px 4px 2px 2px #C2C2C2;
    box-shadow: 0px 4px 2px 2px #C2C2C2;
    margin: 1em;

    .post-categories{

      display: flex;
      gap: 40px;

      li{
        list-style: none;
        background-color: #00ff26;
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        a{

        }

      }

    }

  
    &--grande {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
   
    }
  
    &__image img {
      width: 300px;
      height: 200px;
      background-color: #007bff;

      @media screen and (max-width:$point__rupture) {
        width: 200px;
        height: 100px;
      }
    }

    &__temp{


      display: flex;
      flex-direction: row;
      gap: 20px;

      p{

        padding: 10px;
        border-radius: 8px;
        border: #cac9c9 solid 1px;
        -webkit-box-shadow: 0px 4px 2px 2px #C2C2C2;
        box-shadow: 0px 4px 2px 2px #C2C2C2;  
      }
     
    }

  
    &__contenu {
      margin-top: 15px;
    }
  
    &__titre {
      font-size: 24px;
      color: #333;
    }
  
    &__description {
      font-size: 16px;
      color: #666;
    }
  
    &__bouton {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;


  
    &--actif {
      background-color: #0056b3;
    }
  
    &:hover {
      background-color: #add4ff;
    }
  }
}
  