.destination{
    background-color: rgb(255, 200, 128);
    border-radius: 8px;
    margin: 15px;
    padding: 20px;

    &__titre {
        padding: 20px;
        size: 1.5rem;
        display: flex;
        justify-content: center;
        align-self: center;
        font-weight: bold;
        font-family: "Advent Pro", sans-serif;
    }

    h3{
        align-self: center;
        text-align: center;
        font-size: larger;
        color: aliceblue;
        font-weight: bold;
        background-color: rgb(0, 149, 229);
        border-radius: 8px;
        width: 300px;
        height: 50px;
        padding: 10px;
        cursor: pointer;
    }

    h3:hover{
        background-color: rgb(97, 223, 255);
    }

    &__list {
   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__info{
        width: 300px;
        overflow: hidden;
        max-height: 0;
        overflow: hidden;
        background-color: aliceblue;
        padding: 0 10px;
        opacity: 0;
        transition: all 1s ease;
    }

    input[type="checkbox"] {
        display: none;
    }

    input.article-checkbox:checked ~ .destination__info{
        max-height: 500px;
        padding: 10px;
        opacity: 1;
    }
    
}